[Desktop Entry]
Name=XPuyoPuyo
Comment=A tetris-like puzzle game
Comment[pl]=Gra tetrisopodobona
TryExec=xpuyopuyo
Exec=xpuyopuyo
Icon=xpuyopuyo.xpm
Terminal=false
Type=Application
Categories=GTK;Game;BlocksGame;
Encoding=UTF-8
# vi: encoding=utf-8
